body {
  background-color: chocolate;
}

#menu {
  background-color: burlywood;
}

h1, p, h2 {
  text-align: center;
}

.flavour {
  text-align: left;
  margin-right: 0px;

}

.price {
  text-align: right;
  margin-left: 0px;

}

hr {
  background-color: chocolate;
  height: 0.3px;
  border-color: burlywood;
}